<div class="mb-0 w_100 footer">
  <div class="footerCol">
    <div class="footerLogo">
      <a href="https://www.davidebalice.dev" target="_blank">
        <img src="/img/logo-white.png" alt="" style="width:100%" />
      </a>
    </div>
    <div>
      <a href="https://www.davidebalice.dev" target="_blank">
        www.davidebalice.dev
      </a>
    </div>
  </div>

  <div class="footerCol">
    <div>
      <a href="https://github.com/davidebalice/node-note" target="_blank">
        view project on GitHub
      </a>
    </div>
    <div class="footerGithub">
      <a href="https://github.com/davidebalice/node-note" target="_blank">
        <img src="/img/github2_white.png" alt="" style="width:100%" />
      </a>
    </div>
  </div>
</div>