<nav class="mb-0 w_100 footer">
  <div style="border:1px solid #fff;width:100px;padding:0">
      <img src="/img/logo-white.png" alt="" style="width:100%">
  </div>
  <div style="border:1px solid #fff">
      <a>www.davidebalice.dev</a>
  </div>
  <div style="border:1px solid #fff">
      <a>www.davidebalice.dev</a>
  </div>
  <div style="border:1px solid #fff">
      <a>www.davidebalice.dev</a>
  </div>

  
  </div>
</nav>