<h2 class="my-5">Aggiungi una nuova nota</h2>

<form  action="aggiungi_nota" method="post">
  <div class="form-group">
    <label for="titolo">Titolo</label>
    <input type="text" class="form-control" name="titolo">
  </div>
  <div class="form-group">
    <label for="contenuto">Contenuto</label>
    <textarea class="form-control" name="testo"></textarea>
  </div>
  <button type="submit" class="btn btn-success" name="aggiungi">Invia</button>
</form>
