<div class="row">
    <div class="col-sm-6 col-md-10 col-lg-10 m-auto">
<div class="card  text-center">
  <div class="card-body">
    <h1 class="card-title">{{titolo}}</h1>
    <p class="card-text">Scrivi le tue note per appuntare le tue idee al volo</p>
    <a href="/aggiungi_nota" class="btn btn-success btn-block">Aggiungi una nuova nota</a>
  </div>
</div>
</div>
</div>

