<h1>Informazioni su questa app</h1>
<h3>Questa app ha lo scopo di aiutarti a mentenere in ordine le tue idee</h3>
<p>Utilizzalo anche come brainstorming</p>
<p>Autore: Simona</p>
<p>Versione: 1.0.0</p>