<div class="formCard">

  <a href="/" class="back-button">
    <button type="submit" class="btn btn-success buttonNote" name="aggiungi"> < Back</button>
  </a>

  <h3 class="my-5 titleSection">Add a category</h3>

  <form action="{{base_url}}/add/category" method="post">
    <div class="form-group">
      <label for="title">Category name</label>
      <input type="text" class="form-control noteField" name="title" />
    </div>
    <button type="submit" class="btn btn-success buttonNote" name="aggiungi">+ Add</button>
  </form>
</div>