body {
  background-color: #ddd;
  font-family: Comfortaa, sans-serif;
  padding: 0;
}

.p_zero {
  padding: 0 !important;
}

.home {
  min-height: calc(100vh - 243px);
}

.page {
  min-height: calc(100vh - 173px);
}

.note {
  width: 320px;
  max-width: 320px;
  height: 320px;
  max-height: 320px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  background: #fefda2;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
}

.note_container {
  padding: 20px;
}

.noteInt {
  height: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

.noteTitle {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.noteDescription {
  font-size: 13px;
}

.loginBox {
  max-width: 500px;
}

.loginBg {
  background: url("../img/bg1.jpg");
  background-size: cover;
  width: 100%;
  height: calc(100vh - 100px);
  padding-top: 60px;
  margin-top: 0px !important;
}

.headerBg {
  background-color: #333;
  color: #fff;
}

.github {
  width: 96px;
  padding-top: 8px;
  padding-left: 10px;
}

.footer {
  background-color: #333;
  color: #fff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

.footer a {
  color: #fff;
}

.footerCol {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footerLogo {
  width: 126px;
  padding: 2px;
}

.footerGithub {
  width: 110px;
  padding: 10px;
}

.logo {
  width: 140px;
}

.logoBox {
  display: flex;
  align-items: center;
}

.logoBox2 {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
}

.white {
  color: #fff !important;
}

.noteButtons {
  align-self: flex-end;
  gap: 4px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
}

.pointer {
  cursor: pointer;
}

.modalSize {
  width: 100vw !important;
  height: 100vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalDetails {
  background: #fefda2;
  border: 0;
  margin: 0 auto;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
}

.borderNote {
  border-color: #dfe10f;
}

.searchContainer {
  background: #d1d1d1;
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.24);
}

.mLeftSearch {
  margin-left: -12px !important;
}

.formCard {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 40px;
  -webkit-box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
}

.textArea {
  height: 200px;
}

.buttonNote {
  cursor: pointer;
  min-width: 150px;
}

.noteField {
  background-color: #f1f1f1;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

.titleSection {
  width: fit-content;
  margin: 0 auto;
}

.category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid #ccc;
}

.category-int {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 17px !important;
  margin-top: 7px;
}

.categoryButtons {
  align-self: flex-end;
  gap: 4px;
  display: flex;
  flex-direction: row;
}

.catContainer {
  text-align: left;
  clear: both;
}

.containerTitle {
  width: fit-content;
  background-color: #555;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px 6px 10px;
  border-radius: 4px;
}

.sticky-button {
  color: #ccc;
  padding: 0;
  float: right;
  font-size: 24px;
}

.sticky-on {
  color: #14a2b8;
}

.loginMsg {
  font-weight: bold;
  text-align: center;
}

.loginDemoData {
  border: 1px dashed #ccc;
  margin-bottom: 50px;
  padding: 10px;
  font-size: 13px;
}

.red {
  color: #ff0000;
}

.line {
  width: 100%;
  border-top: 1px solid #ccc;
}

.demoMsg {
  color: #ff0000;
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
}

.demoMsgHome {
  color: #fff;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #555;
  width: 100%;
  text-align: center;
  box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.24);
}
